@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: #FF0000;
  --secondary-color: #1b206e;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Moderniz';
  src: url(Moderniz.otf);
}
html,
body {
  color:white;
  font-family: 'Moderniz';}
body{
  background-color: #111;/* Path to your background image */
  background-size: cover; /* Ensures the image covers the whole page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background image fixed */
  background-position: center; }

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}



/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

.logo img {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}

/* TOGGLE */
.toggle {
  position: absolute;
  top: 70px;
  right: 100px;
  width: 60px;
  height: 60px;
  background:  url(../images/menu.png);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}
.toggle.active {
  background:  url(../images/close.png);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-bar img {
  height: 128px;
  width: 128px;
}
.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}
.email-icon img{
  height: 100px;
  width: 100px;
}
.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  transform: scale(0.5);
}

/* HOMEPAGE */
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

/* SERVICES PAGE */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.services .service {
  padding: 30px;
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.services .service .icon img {
  max-width: 100px;
}

/* WORK PAGE */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .item:hover .action {
  opacity: 1;
}

.portfolio .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}

/* CONTACT */
.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type='submit'] {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

@media (max-width: 1068px) {
  .home-img {
    display: none;
  }

  .logo img{
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }


  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}
/* Section containing the button */
section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust height if you have a fixed header */
  justify-content: flex-end; /* Pushes content to the bottom */
  align-items: center;
  padding: 0 20px;
}

/* Button Styling */
.btn.get-started {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px; /* Rounded corners */
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.btn.get-started:hover {
  background: darken(var(--primary-color), 10%);
  transform: scale(1.05);
}
/* Logo Styling */
.logo {
  position: absolute; /* Allows positioning it relative to its container */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  z-index: 30; /* Ensures the logo is above other elements */
}

.logo img {
  width: 120px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
}
.center {
  top: 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.test{
  margin-top: 50px;
}
.contact_us_2 * {
  font-family:'Moderniz';
}

.contact_us_2 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: red;
}

.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
  font-size: 30px;
  font-family: 'Moderniz';
  color: #9c9c9c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_2 .input {
  width: 96%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
  width: 98%;
  background-color: red;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.contact_us_2 .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}

.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

.contact_us_2 ::placeholder {
  color: #dadada;
}

.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: black;
}

@media (max-width: 768px) {
  .contact_us_2 .submit-btn {
    width: 100%;
  }

  .contact_us_2 .input {
    width: 100%;
  }

  .contact_us_2 .textinput {
    width: 100%;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .contact_us_2 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
  }

  .contact_us_2 .input {
    height: 45px;
  }
}
@media screen and (max-width: 768px) {
  .toggle {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 50px;
    height: 30px;
    background:  url(../images/menu.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
  }
  .logo img{
    width: 90px;
    top: 10px;
    left: 10px;
  }
  .logo{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 0px;
    z-index: 20;
  }
}